<nav class="navbar-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#"></a>Shopping List</li>
      </ul>
      <ul class="nav navbar-nav ">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li>Save Data</li>
            <li>Fetch Data</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
